html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
}

body{
    font-family: Roboto Helvetica, Arial, sans-serif;
    font-weight:300;
    box-sizing: border-box;
    text-align: center;
    position:relative;
    background-image:url(../images/bgs/hexellence.png);
    padding-top:$TYPE_SCALE*2em;

    font-size: 1.0625em;
    line-height: 1.294117647em;
    margin: 0 auto;
}
a{
    text-decoration:none;
}
a:visited {  color:$HEDRON_GREY; }
a:focus { color:$HEDRON_GOLD; }
a:hover, a:active {  color:$HEDRON_ORANGE; }
.form-group input:focus , .form-group textarea:focus{
    background-color:$HEDRON_GREY_HEAVY_ALPHA;
    outline:none;
}
/************************************************************************
TYPOGRAPHY
*************************************************************************/
/*
p{
    font-size:$P_FONT_SIZE*1em;
    line-height:($TYPE_SCALE / $P_FONT_SIZE);
    margin:$TYPE_SCALE*.25em 0;

}
h1,h2,h3,h4,h5,h6{
    font-weight:100;
}

h1{
    color:white;
    font-size:$P_FONT_SIZE * 3em;
    line-height:($P_FONT_SIZE * 3em)/($TYPE_SCALE);

}
h2{
    color:$HEDRON_GOLD;
    font-size:$P_FONT_SIZE * 2em;
    line-height:($P_FONT_SIZE * 2em)/($TYPE_SCALE*.5);
}
h3{
    font-size:($P_FONT_SIZE * $TYPE_SCALE)*1em;
    line-height:($P_FONT_SIZE * $TYPE_SCALE)/($TYPE_SCALE+$FOURTH_TYPE_SCALE)*1em
}
*/
h1,h2,h3,h4,h5,h6{
    font-weight:200;
}
h1 {
  font-size: 3.352941176em;
  line-height: 1.157894736em;
}
h2 {
  font-size: 2.235294118em;
  line-height: 1.157894736em;
}
h3 {
  font-size: 1.470588235em;
  line-height: 1.76em;
}
h4 {
  font-size: 1em;
  line-height: 1.294117647em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 1.29411765em;
  margin-bottom: 1.29411765em;
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}



/**********************************************************************/
/*TYPOGRAPHY

Y*******************************************************/

/**********************************************************/
.hero{
    height:455px;
    position:relative;
    border-bottom:1px $HEDRON_GREY solid;
    overflow:hidden;

}
.hero-group{
    position:relative;
    height:100%;
    max-width:750px;
    margin:auto;
}
.showItem {
    display: list-item;
}

.hideItem {
    display: none;
}
/*custom checkbox********************************************************/
/***********************************************************************/
.filter-section{
    color:$HEDRON_GREY;
}
.filter-option{
    display:inline;
	width: 20px;
	margin: 20px auto;
	position: relative;
    input[type=checkbox] {
	visibility: hidden;
}
}
.filter-option label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
    left:0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

}

.filter-option label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid $HEDRON_ORANGE;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.filter-option label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.filter-option input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/* end custom checkbox********************************************************/
/***********************************************************************/
.inline{
    display:inline-block;
}

.home-grid{
    width:100%;
}
.page-header{
    padding:$TYPE_SCALE*.5em 0;
    margin-bottom:$TYPE_SCALE*1em;
    .post-bubble:before,.post-bubble:after{
        left:70%;
    }
}
.intro-group{
        margin-bottom:$TYPE_SCALE*1em;
        display:block;
}
.portrait{
    width:100%;

}
.big-letters{
    width:333px;
}
.bigletters h1{
        line-height:1;
        color:$HEDRON_ORANGE;
    }
    .bio{
        text-align:justify;
    }
    .map{
        width:100%;
    }
    .hedron-head{
        margin-top:$TYPE_SCALE*.5em;
        height:3em;
    }
    .block {
        position: relative;
        width:100%;
        margin:$TYPE_SCALE*.25em 0;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }

.speech-bubble{
    position:relative;
    padding:$TYPE_SCALE*.25em;
    box-sizing:border-box;
}
.speech-bubble:before{
    content:"";
    position: absolute;
    left:4%;
    border-style:solid;
    border-width:0 0 35px 70px;
    border-color:transparent $HEDRON_GREY;
    display:block;
    bottom:-23px;
    width:0;
}
.speech-bubble:after{
    content:"";
    position:absolute;
    bottom:-19px;
    left:4%;
    border-width: 0 0 19px 16px;
    border-style:solid;
    border-color:transparent whitesmoke;
    display:block;
    width:0;
}
.header-bubble{
    display:inline-block;
    max-height:80%;
    width:60%;
    position:relative;
    background:$HEDRON_GOLD;
    border-radius:7%;
}
.static-block{
    background:$HEDRON_ORANGE;
    padding:1% 0;
    h3{
        color:$HEDRON_DARK_ORANGE;
        font-weight:100;

    }
}
.img-block{
    overflow:hidden;
    height:148px;

    img{
        width:100%;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    figcaption {
    	background: rgba(0,0,0,0.55);
    	color: white;
    	display: table;
    	height: 100%;
        width:100%;
    	left: 0;
    	opacity: 0;
    	position: absolute;
    	right: 0;
    	top: 0;
    	z-index: 100;
    }
    .caption-title {
        display: table-cell;
        vertical-align: middle;

    }

    .caption-tools{
        margin:0;
    display: table-cell;
    font-size:1.5em;

    }
    :hover figcaption {
	opacity: 1;
}
:hover img {
width: 110%;
}
}
.hide-mobile{
    display:none;
}
.page-container{
    max-width:1200px;
    margin:0 auto;
}
.center{
    margin:0 auto;
    text-align:center;
    display:block;
}
header .post-bubble{
    background-color:$HEDRON_GOLD;
    color:$HEDRON_GREY;
}
header .post-bubble:before{
    border-color:transparent $HEDRON_GOLD;
}

nav{
    margin:$TYPE_SCALE*1em auto;
    li{
        display: inline-block;
    }
    .logo-condensed{
        display:block;
        margin-top:$TYPE_SCALE*1em;
        max-height:$TYPE_SCALE * 5em;
    }
    .logo{
        display:none;
    }
    .navbar-nav{
        border-bottom:1px solid $HEDRON_GREY;
        min-width:310px;
    }
    .navbar-social
    {
        box-sizing:content-box;
        padding-top:$HALF_TYPE_SCALE*1em;
        padding-bottom:$TYPE_SCALE*3em;
        .fa{
            margin:0 $TYPE_SCALE*1.50em;
        }
    }
}
.navbar-admin{
    position: relative;
    max-width:1000px;
    padding-bottom:$TYPE_SCALE*.5em;
    background-color: $HEDRON_GREY;
    color:white;
    a:visited {  color:white; }
}


.gallery-view {
    .artwork{
        list-style:none;
        margin: 3% 0;
        display:inline-block;
    }
    .post{
        padding:2%;
        max-height:$TYPE_SCALE*3em;
        overflow: hidden;
        text-align:left;
        display:inline-block;
    }
}


.form-wrap{
    text-align:left;
}

form{
    text-align: center;
    position:relative;
    margin-top:$TYPE_SCALE*2em;
    margin: 0 auto;
}
.contact-form{
    margin-top:$TYPE_SCALE*.1em;
}
.form-group-inline, .form-group {
    width:100%;
    padding:$TYPE_SCALE*.5em 0;
}

.form-group{
    text-align:left;
    .form-group-inline{
        width:20%;
        display:inline-block;
    }
    label{
        display:block;
        font-weight: 300;
    }
    .input, textarea{
        width:96%;
        padding:2%;
        color:$HEDRON_ORANGE;
        background-color:transparent;
        border: dotted 0px $HEDRON_GREY;
        border-bottom-width:2px;

    }
    .fa{
        padding:2% 0;
    }
    .name-wrap{
        width:49%;
        display:inline-block;
        span{
            float:right;
            color:gray;
        }
    }

}

.form-group-inline{
    label{
        display:inline-block;
    }
    input:not(.file-upload){
        border:none;
    }
}
.border{
    border:2px solid $HEDRON_GREY;
    border-radius:2%;
}
.submit{
    margin:10%;
    padding:5%;
    font-weight: 300;
    background:$HEDRON_GOLD;
}
