.home-widget{
}
.hedron-bubble{
    position:absolute;
    right:0;
    top:120px;
    width:62%;

    p{
        padding-left:32%;

    }
    h2{
        font-size:275%;
        line-height:100%;
        font-family:roboto, arial, sans serif;
        font-weight:300;
    }
}
.hedron-character{
    background:transparent;
    position:absolute;
    display:inline-block;
    right:-4%;
    top:5%;
    height:57%;
    z-index:20;
    img{
        max-height:100%;
    }
}

.signature{
    display:inline-block;
    position:absolute;
    left:4%;
    top:14%;
    margin:auto;
    width:67%;
    img{
        width:100%;
    }
}
.home-code{
    width:98%;
    max-width:1842px;
    position:absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin:auto;

}
.tagline{
    position:absolute;
    bottom:-15%;
    font-size:$TYPE_SCALE*.3em;
    left:5%;
}
.bubble-margin{
    margin-bottom:20px;
}
.main-bubble{
    background:$HEDRON_GREY;
    border-radius:7%;
    border-width:0px;
}
.main-bubble:before{
    border-color:transparent $HEDRON_GREY;
    left:72%;
}
.main-bubble:after{
    left:72%;
}
.post-bubble{
    position:relative;
    width:100%;
    overflow: visible;
    background:$HEDRON_GREY_LIGHT;
    margin-top:$TYPE_SCALE*.125em;

    .underline{
        text-align:left;
        font-size:$TYPE_SCALE*1em;
        margin:$TYPE_SCALE*.25em;
        border-color:white;
        span{
            color:$HEDRON_GOLD;
            font-size:75%;
        }
        .fa{
            color:$HEDRON_ORANGE;
        }
    }
}

.post-bubble:before{
    border-width: 0 0 15px 70px;

    bottom:-15px;

}


.static-link{
    height:$TYPE_SCALE*7em;
    background:$HEDRON_ORANGE;
}
