$HEDRON_GOLD : #FEB900;
$HEDRON_ORANGE: #ED6B58;
$HEDRON_DARK_ORANGE:#6D241A;
$HEDRON_BLUE: #a0e3ec;
$HEDRON_GREY: #383838;
$HEDRON_LIGHT_GREY:#000;
$HEDRON_GREY_HEAVY_ALPHA: rgba(56, 56, 56, 0.15);
$HEDRON_GREY_LIGHT: #575249;
$HEDRON_GREY_DARK: #1E1E1E;

$DEFAULT_FONT_SIZE: 16;
$DEFAULT_LINE_HEIGHT: 16;

$P_FONT_SIZE: (17 / $DEFAULT_FONT_SIZE);
$P_LINE_HEIGHT: (20 / $DEFAULT_LINE_HEIGHT);

$TYPE_SCALE: $P_FONT_SIZE * $P_LINE_HEIGHT;
$HALF_TYPE_SCALE: $TYPE_SCALE/2;
$FOURTH_TYPE_SCALE: $TYPE_SCALE/4;
$EIGHT_TYPE_SCALE: $TYPE_SCALE/8;

/*
$p_line_height:;
$p_font_size:;
*/
