#sketch-popup a:hover {
  color: #ecb147;
  text-decoration: none;
}
#sketch-popup a {
  color: #ed6b58;
}
.center {
  overflow: visible;
}
.book-wrap {
  width: 100%;
  position: relative;
  padding: 0;
  z-index: 0;
}
.book-wrap:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
hr {
  position: relative;
  width: 55%;
}
.year-text {
  font-size: 250%;
  margin-top: 6.5%;
  z-index: 50;
  position: relative;
  float: left;
}
.year-text:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.book {
  width: 20%;
  height: 20%;
  background-color: gray;
  display: block;
}
.diag-thumb {
  position: relative;
  display: inline-block;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
  /* Safari and Chrome */
  -webkit-transform: skewX(-30deg);
  transform: skewX(-30deg);
  /* IE 9 */
  -ms-transform: skewX(-30deg);
  /* float: left;*/
  overflow: hidden;
  z-index: 50;
  height: 270px;
  width: 195px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.first-thumb {
  margin-left: 8%;
}
.diag-thumb-img {
  position: relative;
  margin: auto;
  /* Safari and Chrome */
  -webkit-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  transform: skewX(30deg);
  z-index: 40;
  right: 48%;
  -webkit-transition: background-image 200ms;
  transition: background-image 200ms;
}
#blanket {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 58;
  display: none;
}
#sketch-popup {
  position: fixed;
  width: 85%;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  padding: 3%;
  z-index: 60;
  max-width: 1200px;
  display: none;
}
.sketch {
  position: relative;
  max-height: 100%;
  max-width: 100%;
  float: right;
  z-index: 50;
  box-shadow: 2px 7px 24px rgba(23, 25, 25, .5);
}
#mssg {
  color: #7a7a7a;
  margin-top: 10%;
  font-size: 100%;
}
.desc {
  padding: 3%;
}
.info {
  position: absolute;
  bottom: 10%;
  z-index: 60;
  background-color: rgba(23, 25, 25, .5);
  box-shadow: 2px 7px 24px rgba(23, 25, 25, .5);
}
.close-bttn {
  display: none;
}
.sketch:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#to-sketch {
  float: right;
  font-family: orbitron;
  color: #ed6b58;
}
@media only screen and (max-width: 650px) {
  .diag-thumb, .diag-thumb-img {
    transform: inherit;
  }
  #hedron-speech {
    WIDTH: 60%;
  }
}
