    .center{
        max-width:1500px;
    }


        .pointer-big{
            border-width:26px 62px 0px 0;
            top:-25px;
            left:75px;
        }
        #sketch-intro{
        font-size:Larger;
        }
        
    .sketch-wrapper{
        margin:auto;
        width:80%;
        max-width:2000px;
    }
    .view{
    position:relative;
    height:900px;
    margin:auto;
    max-width:1500px;
    overflow:hidden;
    #frame{
        position:relative;
        width:0;
        float:left;
        padding-top:20px;
        #img-frame{
        }
         .info{
            max-width:none;
            width:100%;
            position: relative;
            display:inline-block;
            min-width:200px;
            max-height:100%;
            z-index: 60;
            background-color: rgba(23, 25, 25, .5);
            box-shadow: 2px 7px 24px rgba(23, 25, 25, .5);
            #date,#tools{
                display:inline;
            }
        }
        #mssg{
            display:none;
        }
        .close-bttn{
            position:absolute;
            top:0px;
            right:0px;
            z-index:70;
            display:block;
        }
        .sketch {
            max-height: 700px;
            float:none;
         }
    }
    #frame:after { 
       content: "."; 
       visibility: hidden; 
       display: block; 
       height: 0; 
       clear: both;
    }
    
     .book-wrap{
        position:relative;
        max-height:100%;
        text-align:left;
        max-width:1200px;
        margin:auto;
        padding:2%;
        padding-top:0;
        margin-top:0;
        overflow:auto;
        border-radius:40px;
        box-shadow:$INSET_BOX_SHADOW;
        background-color:$COLOR_DARKGREY_ALPHA;
            hr {
            width:90%;
        }
         .year-text{
            margin-top:2.5%;
        }
         .diag-thumb{
            width:100px;
            height:100px;            
            margin-top:0;
        }
        .diag-thumb-img{
            width:150%;
        right:14%;
        }
        .bubble-sm {
        position:relative;
            padding:5px;
            border-radius:5px;
            background-color:rgba(56, 56, 56, 0.61);
            width:220px;
            font-family:roboto;
            text-align:center;
            font-size:70%;
            margin:auto;
        }
    }
 }

   
      
   
   