/*variables
*****************************************************/
$COLOR_DARKGREY: #383838;
$COLOR_GOLD: #feb900;
$COLOR_MASKORANGE:#ED6B58;
$COLOR_MASKBLUE:#98D6DE;
$COLOR_WHITE: white;
$COLOR_BLACK: black;

$FONT__LIGHT: 300;
$FONT_NORMAL: 400;
$FONT_MEDIUM: 500;
$FONT_BOLD: 700;

$NAV_HEIGHT:40px