/*variables
*****************************************************/
$COLOR_DARKGREY: #383838;
$COLOR_GOLD: #feb900;
$COLOR_MASKORANGE:#ED6B58;
$COLOR_MASKBLUE:#98D6DE;
$COLOR_WHITE: white;
$COLOR_BLACK: black;
$COLOR_LIGHTGREY:#9A9A9A;
$COLOR_DARKGREY_ALPHA:rgba(23,25,25,.6);

$FONT_LIGHT: 300;
$FONT_NORMAL: 400;
$FONT_MEDIUM: 500;
$FONT_BOLD: 700;

$INSET_BOX_SHADOW: inset 2px 1px 15px black;
$NAV_HEIGHT:40px