.hedron {
  display: inline-block;
  position: relative;
  margin: auto;
  vertical-align: bottom;
  z-index: 20;
}
.bbl-wrap {
  display: inline-block;
  width: 43%;
  height: 100%;
  padding-top: 7%;
}
.bbl-wrap .main-bbl, .bbl-wrap .second-bbl {
  background: ;
  z-index: 10;
}
.bbl-wrap .main-bbl .pointer-big, .bbl-wrap .second-bbl .pointer-big {
  border-color: transparent ;
  left: -9.8%;
  top: 33%;
}
.bbl-wrap .main-bbl #greeting, .bbl-wrap .second-bbl #greeting {
  position: relative;
  z-index: 50;
}
.bbl-wrap .main-bbl .name, .bbl-wrap .second-bbl .name {
  color: ;
  position: relative;
  font-size: 150%;
  text-shadow: 1px 1px #000;
  width: 43%;
  margin-top: -3%;
}
.bbl-wrap .right-btm, .bbl-wrap .right-top {
  background: ;
  color: ;
  padding: 1%;
  min-width: 241px;
  width: 12%;
  font-size: 150%;
  font-family: roboto;
  font-weight: 100;
}
.border-sm {
  top: 9%;
}
.bubble-main {
  padding: 0 3%;
}
.pointer-big {
  border-width: 26px 62px 0px 0;
  top: -25px;
  left: 75px;
}
.story-intro {
  margin-top: 3%;
  padding: 2%;
  float: left;
  min-width: 200px;
  width: 80%;
  line-height: 31px;
  font-size: 250%;
  color: #989898;
  font-family: orbitron;
}
#first-letter {
  font-size: 200%;
  font-weight: 600;
}
#line {
  width: 100%;
  margin: 0;
}
.fa-long-arrow-down {
  color: ;
}
.story {
  font-family: orbitron;
  margin: auto;
  padding: 2%;
  width: 100%;
  font-weight: 400;
}
.thin {
  font-family: roboto;
  font-weight: 100;
}
.light-txt {
  color: white;
}
