body{
min-height:900px;
}

#admin-text{
margin:0;
position:relative;
margin-top:8%;
}
.nav{
	position: relative;
    display:block;
	margin-right: auto;
	margin-left: auto;
	width:80%;
	max-width: 1000px;
	height: 50px;
	padding: 0;
	margin-bottom: 2%;
}

    .user{
        color: #ed6b58;
        float: left;
    }
    .nav-buttons{
        float: left;
        text-align:left;
                font-size:100%;
                width:60%;
                padding:0;
    }
    .nav .nav-bttn{
        margin-top:0;
        margin-bottom:2%;
    }
    .user-grp{
    width:32%;
        float: right;
    }
    #logout{
        font-size:80%;
        
    }

    
.body-wrap{
	min-height:700px;
	min-width: 800px;
    max-width:1000px;
	width: 70%;
    text-align:left;
}
    .items-wrap{
        float:left;
        width:30%;
        max-width:350px;
        max-height:650px;
    }
        .items-list{
            position: relative;
            overflow-y:scroll;
        }
        .items-list::-webkit-scrollbar{
            background-color: #9daaa9;
        }
        .items-list::-webkit-scrollbar-thumb{
            background-color:#5A6363;
        }
            .item{
                width:100%;
            }
            .fa-times{
                float:right;
            }
    .forms{
        float:left;
        width:60%;
        max-width:550px;
        margin-left: 10%;
    }
        .forms:after { 
           content: "."; 
           visibility: hidden; 
           display: block; 
           height: 0; 
           clear: both;
        }
        form label{
            margin-top:1%;
            display:block;
        }
        form .static-info-label{
            display:inline;
        }
        form .input, form textarea{
            width: 100%;
        }
        form textarea{
            height:100px;
        }
        form .first-radio{
            margin-left:10%;
        
        }
        .submit{
            width:100px;
            height:50px;
            text-align:center;
            position:relative;
            background-color:#ed6b58;
            border-color:#f29382;
            color:white;
            margin-top:3%;
            margin-left:22%;
        }
        .del-bttn{
            width:75px;
            height:40px;
            text-align:center;
            position:relative;
            background-color: #ECB147;
            border-color:#eacf9f;
            margin-left:18%;
            color:white;
        }
        .static-info{
            background-color: transparent;
            width:60px;
            margin-right:30px;
            border:none;
        }

        .info-wrap{
        float: left;
            width:40%;
        }
        .info-wrap:after { 
           content: "."; 
           visibility: hidden; 
           display: block; 
           height: 0; 
           clear: both;
        }
/**********************Admin Login*************************/
.login-form{
    width:35%;
    height:10%;
    margin-top:7%;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    background-color:rgba(23,25,25,.3);
	box-shadow: inset 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
}