/*overwites*/
.center-home {
  padding-top: 2%;
  margin-top: 0;
}
#header-band-ext-home {
  margin-bottom: 30px;
}
.home-banner {
  position: relative;
  width: 90%;
  max-width: 1300px;
  height: 550px;
  margin: auto;
  padding: 1%;
  padding-bottom: 0;
  box-shadow: inset 3px 3px 28px black;
  background-color: rgba(23, 25, 25, 0.2);
  border-radius: 100px;
  border-style: solid;
  border-color: ;
  border-width: 0;
  border-left-width: 29px;
  border-right-width: 29px;
}
.home-banner #hedron-name {
  position: relative;
  width: 35%;
  margin-top: -5%;
}
.home-banner .main-bbl .intro {
  font-size: 250%;
  font-weight: 300;
}
.home-banner .second-bbl {
  width: 75%;
}
.home-banner .second-bbl .intro {
  margin-top: 0;
}
#illustration {
  position: relative;
  display: inline-block;
  height: 100%;
  height: 727px;
  background: no-repeat url(../home/hedron_youngirl_nb_web_sm.png);
  background-size: contain;
  margin-right: 4%;
  margin-top: -2%;
  z-index: 60;
}
#header-band-ext-home {
  height: 70px;
}
#header-band {
  text-align: center;
  position: relative;
  margin: auto;
  max-width: 1300px;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#header-band .underline {
  margin-top: 15px;
  position: relative;
  height: 5px;
  width: 48%;
  border: none;
  color: ;
  background-color: ;
  margin-right: 5%;
}
#header-band .featured-widget {
  position: relative;
  display: inline-block;
  padding: 0;
  margin-top: -8%;
  width: 49%;
  float: right;
}
#header-band .featured-widget #img-left, #header-band .featured-widget #img-mid, #header-band .featured-widget #img-right {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: ;
}
#header-band .featured-widget .frame img {
  height: 100%;
  width: 30%;
  background-size: cover;
}
.header-wrap {
  position: relative;
  margin: auto;
  z-index: 20;
  width: 100%;
}
.header-wrap #updates-text {
  margin: 0;
  width: 85%;
  margin: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.header-wrap #sq-rnd {
  height: 370px;
  width: 85%;
  margin: auto;
  display: block;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(23, 25, 25, .6);
  box-shadow: ;
  padding: 40px 40px 40px 40px;
  margin-bottom: 5%;
}
.header-wrap #sq-rnd::-webkit-scrollbar {
  background-color: #9da09d;
  width: 12px;
}
.header-wrap #sq-rnd::-webkit-scrollbar-thumb {
  background-color: #1a1c1b;
}
.header-wrap #sq-rnd #updates-widget {
  padding: 0;
}
.header-wrap #sq-rnd .date {
  display: inline-block;
  margin-left: 5%;
  color: ;
}
.header-wrap #sq-rnd .icon {
  margin-left: 0;
}
.header-wrap #sq-rnd .message {
  font-size: 120%;
  margin-bottom: 25px;
  display: block;
  max-width: 500px;
  margin: auto;
}
.header-wrap #project-text, .header-wrap #sketch-text {
  color: ;
  width: 100%;
  padding: 2%;
  -moz-border-radius: 20px 0;
  -webkit-border-radius: 20px 0;
  border-radius: 20px 20px 0 0;
  background-color: ;
  margin-top: -4%;
}
.header-wrap .latest, .header-wrap .sketchbook {
  width: 43%;
  height: 126px;
  position: relative;
  margin: auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
}
.header-wrap .latest {
  background-image: url(../home/curr_project_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.header-wrap .sketchbook {
  background-image: url(../home/sketchbook_icon.png);
  background-size: cover;
  background-position: 50% 50%;
}
.page-bottom {
  text-align: center;
  margin-top: 6%;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .home-banner {
    height: 416px;
  }
  .home-banner .hedron {
    max-height: 100%;
  }
  .home-banner .bubble {
    width: 100%;
  }
  .home-banner .second-bbl {
    width: 65%;
  }
  #header-band-ext-home {
    height: 100px;
  }
  #header-band {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100px;
  }
  #header-band .featured-widget {
    width: 100%;
    height: 100%;
    margin: auto;
    float: none;
  }
  #header-band .featured-widget .frame {
    display: inline-block;
    height: 100%;
    width: 30%;
    overflow: hidden;
  }
  #header-band .featured-widget .frame #img-left, #header-band .featured-widget .frame #img-mid, #header-band .featured-widget .frame #img-right {
    border-radius: 0;
    -webkit-border-radius: 0;
    background-position: 0 34%;
    width: 100%;
  }
  .header-wrap {
    padding: 0;
    width: 100%;
  }
  .header-wrap #updates-text {
    font-size: 150%;
  }
  .header-wrap #sq-rnd {
    width: 100%;
    padding: 4%;
  }
  #project-text, #sketch-text {
    font-size: 60%;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
  }
}
@media only screen and (max-width: 650px) {
  .home-banner {
    border-left-width: 7px;
    border-right-width: 7px;
    height: 324px;
  }
  .home-banner .hedron {
    max-height: 89%;
  }
  .home-banner .main-bbl {
    margin-top: 8%;
  }
  .home-banner .second-bbl {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .nav {
    width: 100%;
    text-align: center;
    font-size: 80%;
  }
  .nav .logo-sm {
    width: 200px;
  }
  .home-banner .hedron {
    max-height: 100%;
  }
  .home-banner .main-bbl {
    display: none;
  }
}
