.wrapper{
	background: url(../abstract_polygon4.png) no-repeat;
	min-width: 900px;
	width:100%;
	height: 100%;
	background-size: 105%;
	background-position: -30px  0;
	overflow: hidden;
}

.hero-unit{
	min-width: 1000px;
	max-width: 1100px;
	width:80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: visible;
}
.hero-unit:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.sign{
	float: left;
	margin-left: -2%;
	margin-top: 30px;
}
.nav{
	background: url(../top_banner.png) no-repeat;
	width: 1070px;
	height: 195px;
	margin-top: -1%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 70px;
	position: relative;
	z-index: 55;

}
.nav a{
	margin-top: 10%;
	z-index: 55;
}

/******************************************************
*******************FEATURED WIDGET********************/
.diag-top, .diag-mid, .diag-btm {
    position: relative;
	box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
	-webkit-transform: skewX(-30deg); /* Safari and Chrome */
    transform: skewX(-30deg); 
    -ms-transform: skewX(-30deg); /* IE 9 */
    -webkit-transform-origin: top right;
    -ms-transform-origin: top left;
    transform-origin: top left;
    overflow: hidden;
    float: left;
    
}
.diag-top{
	z-index: 50;
	width: 325px;
	height: 370px;
	margin-left: -10%;
	margin-top: -4.2%;
	box-shadow: 5px 10px 15px 12px rgba(0, 0, 0, 0.6);
}
.diag-mid{
	z-index: 45;
	height:300px;
	width: 200px;
	margin-left: -5%;
	margin-top: -4.2%;
}

.diag-btm{
	z-index: 40;
	height:200px;
	width: 150px;
	margin-left: 7%;
	margin-top: -1.6%;
}

.diag-top-img, .diag-mid-img, .diag-btm-img{
    position:relative;
    margin-right:20%;
    
    background-repeat: repeat;
    background-image:url(../Hedron_hexbg_light.png);
    -webkit-transform: skewX(30deg); /* Safari and Chrome */
    z-index:55;  
    
}

.diag-top-img{
    width:200%;
    height:200%;
     -webkit-transition: background-image 2s,left 1s;
}

.diag-mid-img{
    width:150%;
    height:200%;
    -webkit-transition: background-image 200ms;
    right:5%;
}

.diag-btm-img{
    width:150%;
    height:200%;
     -webkit-transition: background-image 200ms;
         right:5%;
}



/*************END FEATURED WIDGET*********************/



/**********************UPDATES WIDGET****************
*****************************************************/
.updates-grp{
	height:40%;
	width: 100%;
	position: relative;
	z-index: 0;

}
#sq-rnd{
	height:90%;
	 width:100%;
	 -webkit-border-radius:500px 20px 20px 630px;
	 -moz-border-radius:40px;
 	background-color:rgba(64,84,86,.6);
	 padding: 40px 40px 40px 540px;
	 margin-top: -270px; /*overlapps w/text in %. WHY?*/
	 position:relative;
	 float: right;
	 z-index: 5;
	 box-shadow: inset 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
	 overflow-y: scroll;
	 overflow-x: hidden;
}
#sq-rnd::-webkit-scrollbar{
	background-color: #849291;
}
#sq-rnd::-webkit-scrollbar-thumb{
background-color:#5A6363;
}
.date{
	display: inline;
	margin-left: 5%;
}
.fa{
	color:#97D5DD;}
#updates-widget{
	width:100%;
}
.message{
	margin-left: 25%;
	font-size: 120%;
	font-weight: 300;
}
#updates-text{
	float: right;
	width: 30%;
	text-align: center;
	-webkit-border-radius:20px; 	
	box-shadow: inset 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
	margin-top:-0.5%;
}
.divider{
	width:60%;
	height:2px;
	margin-left: auto;
	margin-right: auto;
	background-color:#97D5DD;
	border-style:solid;
	border:2px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#load-more-ajax{
width:54%;
    margin-left:auto;
    margin-right:auto;
}
/*********************END UPDATES WIDGET**************/


/*********************BODY GRP***********************
*****************************************************/

#project-text, #sketch-text{
		color: #e7e7e7;
	float:right;
	-moz-border-radius:20px;
	-webkit-border-radius: 20px;
	position: relative; 	
	background-color:rgba(64,84,86,.6);
	right: -20px;
	box-shadow: 3px 8px 5px rgba(0, 0, 0, .5);
}
.latest, .sketch{
	width:35%;
	height:15%;
	position: relative;
	float: right;
	margin-top: 2%;
	margin-right: 13%;
	-webkit-border-radius:20px;
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .5);
}

.latest{
    background-image:url(../home/curr_project_icon.png);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: 50% 50%;
	margin-right: 3%;
}
.sketch{
	background-image:url(../home/sketchbook_icon.png);
	background-size:cover;
	background-position: 50% 50%;
}
.social{
	height: 5%;
	width: 80%;
	 -webkit-border-radius:5% 0  0 5%;
	 -moz-border-radius:40px;
 	background-color:rgba(190,198,173,.4);
	position: relative;
	top: -50%;
	color: #543A51;
	z-index: -3;
}
/*****************END BODY GRP*******************/

.footer{

	height:55px; 
	width:245px;
	color: #543A51;
	box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-left: auto;
	margin-right:auto;
	margin-top: -100px;
	padding-top: 7px;
}
.icon{
	color: #ed6b58;
	margin-left: 22px;
}