html{
	background-image:url(../Hedron_hexbg_light.png);
    
    height:100%;
}

body {
	font-family: 'orbitron', sans-serif;
	font-weight: 400;
	font-size: medium;
	color: #EDF1ED;
	height: 100%;
    min-height:1500px;
    margin: 0 0 50px; /* bottom = footer height */
    padding: 25px;
    /*background-color:#f4f9f8;*/
    background: -moz-linear-gradient(top, rgba(12,19,25,.8) 0%, rgba(107,158,199,0) 60%, rgba(125,185,232,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(12,19,25,.8)), color-stop(40%,rgba(12,19,25,.3)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
    background-attachment:fixed;    
    text-align:center;
}
h2{
	font-family: 'orbitron',sans-serif;
	font-size: 120%;
	font-weight: 400;
}
h1{
    background-color: #ECB147;
	font-size: 250%;
	font-family: 'orbitron',sans-serif;
	font-weight: 500;
	text-shadow: 1px 1px #000; 
}
 .fa{
    color:#ED6B58;
}
a{
	color: white;
	text-decoration: none;
}

li{
	list-style-type: none;
	display: inline;
}

/****************************NAV AREA***********************
************************************************************/
.wrapper{
    width:60%;
    height:100%;
    max-width:885px;
    position:relative;
    
    margin-left:auto;
    margin-right:auto;
     text-align:center;
     background: url(../home/stairs_tile_long.png) repeat-x;
         padding-top: 1px;
    margin-top: 165px;
}


.hero-unit{
	min-width: 1000px;
	max-width: 1500px;
	width:80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: visible;
    position:relative;
}
.hero-unit:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.nav{
    background-color:#2E2D2A;
    -webkit-border-radius:0px 0px 10px 10px;
	-moz-border-radius:40px;
	width: 95%;
    max-width:1400px;
    height:50px;
    right:0;
    left:0;
    top:0;
    min-width:895px;
	margin-left: auto;
    	margin-right: auto;
    padding-top:1%;
	position: absolute;
    text-align:center;
	z-index: 55;

}
.nav .nav-bttn{
	font-size: 110%;
	color: #FFE668;
	position: relative;
	padding: 0 4% 0 4%;
	font-weight:400; 
    margin-top:4%;
	z-index: 55;
}
.logo{
	float: left;
	margin-left: 11%;
	margin-top: 30%;
    width:150px;
 
}
.circle{
    width:200px;
    height:200px;
    position:absolute;
    top:-104.5%;
    background-color:#2E2D2A;
    border-radius:200px;
    float:left;
}

/************************OVERALL BODY************************
************************************************************/
.rnd-box{
	-webkit-border-radius:50px 50px 50px 50px;
	-moz-border-radius:40px;
	background-color:rgba(23,25,25,.6);
	padding: 40px 40px 40px 40px;
	box-shadow: inset 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
	margin-right: auto;
	margin-left: auto;
}

.rnd-box:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
/***************************FOOTER**************************
************************************************************/
.footer{

	height:50px; 
	width:80%;
	color: #543A51;
    -webkit-border-radius:10px;
	-moz-border-radius:10px;
    background-color:#2E2D2A;
	position: absolute;
	left:0;
    right:0;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
	padding-top: 7px;
    text-align:center;
}
.foot-icon{
margin-left:5%;
}
footer .fa{
    color: #ed6b58;
}