html {
  background-image: url(../light_grey_bg_tile.png);
}
body {
  font-family: 'roboto', sans-serif;
  font-weight: ;
  font-size: medium;
  text-align: center;
  color: ;
  background: none;
  background-color: #f4f9f8;
  /* FF3.6+ */
  background: -moz-linear-gradient(top, rgba(12, 19, 25, .8) 0%, rgba(107, 158, 199, 0) 40%, rgba(125, 185, 232, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(12, 19, 25, .8)), color-stop(30%, rgba(12, 19, 25, .7)), color-stop(95%, rgba(125, 185, 232, 0)));
  /* Chrome,Safari4+ */
  /* IE10+ */
  background: -ms-linear-gradient(top, rgba(12, 19, 25, .8) 0%, rgba(107, 158, 199, .4) 50%, rgba(125, 185, 232, 0) 100%);
  /* IE6-8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=0);
  background-attachment: fixed;
}
h2 {
  font-family: 'orbitron', sans-serif;
  font-size: 120%;
  font-weight: ;
}
h1 {
  background-color: #ecb147;
  font-size: 250%;
  font-family: 'orbitron', sans-serif;
  font-weight: ;
  text-shadow: 0 1px #000;
}
.fa {
  color: ;
}
a {
  color: ;
  text-decoration: none;
}
a:hover {
  color: ;
}
li {
  list-style-type: none;
  display: inline;
}
.center, .center-home {
  position: relative;
  z-index: 20;
  width: 90%;
  max-width: 1190px;
  min-height: 600px;
  margin: auto;
  padding: 2% 1%;
  text-align: center;
  /****************************NAV AREA***********************
************************************************************/
}
.wrapper {
  width: 90%;
  max-width: 900px;
  position: relative;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2%;
}
.nav {
  width: 95%;
  position: relative;
  max-width: 1400px;
  left: 0;
  right: 0;
  top: 30px;
  text-align: left;
  margin: auto;
  z-index: 0;
}
.nav #hedron-name {
  width: 10%;
}
.nav .logo-sm {
  width: 240px;
}
.nav-list {
  width: 100%;
  height: 100%;
  display: none;
}
.social-block {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 120px;
  height: 35px;
  line-height: 35px;
  display: block;
  position: relative;
  float: right;
  text-align: center;
  margin-bottom: 10px;
}
.social {
  padding-right: 4%;
  padding-left: 4%;
  font-size: 1.2em;
  color: ;
}
.nav-block {
  width: 100%;
  position: relative;
  height: 100%;
  display: block;
  float: left;
  margin-bottom: 10px;
  background-color: ;
}
.nav-bttn, .social {
  font-weight: ;
}
.nav-bttn {
  color: ;
  font-family: 'orbitron', sans-serif;
  padding-right: 10px;
  padding-left: 10px;
}
.logo-block {
  width: 20%;
  height: 100%;
  display: inline-block;
  float: left;
}
.circle {
  width: 100px;
  height: 65px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #232628;
  border-radius: 10px;
}
.logo {
  height: 50px;
  /************************OVERALL BODY************************
************************************************************/
}
#header-band-ext, #header-band-ext-home {
  position: relative;
}
#blank-top-stripe {
  position: absolute;
  margin-bottom: 40px;
  z-index: 0;
}
#header-band-ext, #header-band-ext-home, #blank-top-stripe {
  width: 100%;
  height: 120px;
  margin-top: 28px;
  background-color: rgba(56, 56, 56, 0.48);
  padding-top: 1%;
  text-align: center;
}
#header-band-ext .logo-sm, #header-band-ext-home .logo-sm, #blank-top-stripe .logo-sm {
  height: 85%;
  display: inline;
}
#hedron-speech {
  display: inline-block;
  position: relative;
  max-width: 600px;
  color: ;
  background: ;
  padding: 0.5% 1%;
}
#hedron-speech .bubble-pointer {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 0 11px 30px;
  border-color: transparent ;
  left: 3%;
  top: 92%;
  z-index: 0;
}
#hedron-speech p {
  display: inline;
}
.rnd-box {
  -webkit-border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  border-radius: 50px 50px 50px 50px;
  background-color: rgba(23, 25, 25, .6);
  padding: 40px 40px 40px 40px;
  box-shadow: inset 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin-right: auto;
  margin-left: auto;
}
.bubble {
  display: inline-block;
  position: relative;
  border-color: #edf1ed;
  padding: 2%;
  border-radius: 40px;
  font-family: orbitron;
  /*color:#F5D754;*/
  background-color: ;
  z-index: 10;
}
.pointer-big {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 36px 48px 33px 0;
  border-color: transparent ;
  width: 0;
  z-index: 0;
  /***************************FOOTER**************************
************************************************************/
}
.footer {
  height: 50px;
  width: 80%;
  color: #543a51;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #2e2d2a;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7px;
  text-align: center;
}
.foot-icon {
  margin-left: 5%;
}
footer .fa {
  color: #ed6b58;
}
