.type-icon{
    margin-left:5px;
    margin-right:5px;
}

.forms{
    width:60%;
}
form textarea{
width:60%;
}
.radio{
    margin-left: 40px;
}

#date, #icon-name{  
    width:30%;
}
.submit{
    margin-left:0;
}

.rnd-box{
min-width:900px;
}

